@font-face {
    font-family: 'HarmonyOS Sans';
    src: url('../../../public/font/HarmonyOS_Sans_Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Pacifico';
    src: url('../../../public/font/Pacifico-Regular.ttf') format('truetype');
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';  /* Project id 5204515 */
    src: url('//at.alicdn.com/t/c/font_5204515_deh7ytndi7j.woff2?t=1783083575650') format('woff2'),
        url('//at.alicdn.com/t/c/font_5204515_deh7ytndi7j.woff?t=1783083575650') format('woff'),
        url('//at.alicdn.com/t/c/font_5204515_deh7ytndi7j.ttf?t=1783083575650') format('truetype');
}

.iconfont{
    font-family:"iconfont" !important;
    color: #ffffff;
    font-size:22px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    --unsite-theme-green: #98FB98;
    --unsite-theme-white: #EEEEEE;
    --unsite-theme-red: #FB9898;
    --unsite-theme-yellow: #FBFB98;
    --unsite-theme-blue: #98C9FB;
    --unsite-theme-orange: #F9AB5D;
    --unsite-theme-purple: #C998FB;
    --unsite-theme-pink: #FB98C9;
    --unsite-theme-green-blue-gradient: linear-gradient(135deg, var(--unsite-theme-green), var(--unsite-theme-blue));
    --unsite-background: #1a1a1a;
    --unsite-card-background: #282828;
    --unsite-border: #505050;
    --unsite-font-color-white: #ffffff;
    --unsite-font-color-black: #000000;
    --unsite-font-family: 'HarmonyOS Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body,html,*,::after,::before{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    min-width: 320px;
}

body{
    background-color: var(--unsite-background);
    background-image: url("../../../public/svg/background.svg");
    font-family: var(--unsite-font-family);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-clip: inherits;
}

button{
    background: none;
    border: none;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}