.welcome_main{
    max-width: 100%;
    width: 100%;
    height: 500px;
    justify-content: center;
}

.welcome{
    max-width: 1300px;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.welcome_left{
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.welcome_title{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: end;
}

.welcome_title_text{
    color: var(--unsite-font-color);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Pacifico';
}

.welcome_saying{
    width: 100%;
    height: 100%;
    background-color: #f222ff;
}

.welcome_logo{
    width: 50%;
    height: 100%;
    background-color: #6fff00;
}