@font-face {
    font-family: 'HarmonyOS Sans';
    src: url('../../../public/font/HarmonyOS_Sans_Regular.ttf') format('truetype');
}

:root{
    --unsite-theme-green: #98FB98;
    --unsite-theme-white: #EEEEEE;
    --unsite-theme-red: #FB9898;
    --unsite-theme-yellow: #FBFB98;
    --unsite-theme-blue: #98C9FB;
    --unsite-theme-orange: #F9AB5D;
    --unsite-theme-purple: #C998FB;
    --unsite-theme-pink: #FB98C9;
    --unsite-background: #1a1a1a;
    --unsite-card-background: #282828;
    --unsite-border: #505050;
    --unsite-font-color: #ffffff;
    --unsite-font-family: 'HarmonyOS Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body,html,*,::after,::before{
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-image: url('../../../public/svg/background.svg');
    background-color: var(--unsite-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: var(--unsite-font-family);
    color: var(--unsite-font-color);
}

button{
    background: none;
    border: none;
}

.flex{
    display: flex;
}