@font-face {
    font-family: 'iconfont';  /* Project id 5204515 */
    src: url('//at.alicdn.com/t/c/font_5204515_meg2szhczsp.woff2?t=1784814409435') format('woff2'),
        url('//at.alicdn.com/t/c/font_5204515_meg2szhczsp.woff?t=1784814409435') format('woff'),
        url('//at.alicdn.com/t/c/font_5204515_meg2szhczsp.ttf?t=1784814409435') format('truetype');
}

.iconfont{
    font-family:"iconfont" !important;
    color: var(--unsite-theme-white);
    font-size: 20px;;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}