.nav_main{
    width: 100%;
    justify-content: center;
}

.nav{
    max-width: 1350px;
    width: 100%;
    height: 60px;
    background-color: var(--unsite-card-background);
    border-radius: 10px;
    border: 1px solid var(--unsite-border);
    margin: 10px;
}

.nav_title,
.nav_links,
.nav_func{
    flex: 1;
    height: 100%;
}

.nav_title{
    align-items: center;
}

.nav_title_icon{
    width: 20px;
    height: 20px;
    background-image: url('../../../public/svg/nav_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 20px;
}

.nav_title_text{
    color: var(--unsite-font-color-white);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.nav_title_text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    background: var(--unsite-theme-green-blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.nav_title_text:hover::before{
    opacity: 1;
}

.nav_links{

    align-items: center;
    justify-content: space-around;
}

.nav_links_text{
    color: var(--unsite-font-color-white);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s color ease-out;
    padding: 8px 16px;
    border-radius: 2rem;
    position: relative;
    z-index: 1;
}

.nav_links_text::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: var(--unsite-theme-green-blue-gradient);
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: -1;
}

.nav_links_text:hover{
    color: var(--unsite-font-color-black);
}

.nav_links_text:hover::before{
    opacity: 1;
}
.nav_func{
    align-items: center;
}
