.nav{
    height: 60px;
    background-color: var(--unsite-card-background);
    border-radius: 10px;
    border: 1px solid var(--unsite-border);
    margin: 10px;
    flex-direction: row;
}

.nav_title{
    width: calc(100% / 3);
    height: 100%;
    align-items: center;
}

.nav_title_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../../public/svg/nav_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 20px;
}

.nav_title_text{
    color: var(--unsite-font-color);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.nav_links{
    width: calc(100% / 3);
    height: 100%;
}

.nav_func{
    width: calc(100% / 3);
    height: 100%;
}